##  non-staging workspace  ##
#############################

_/


##  compiled files  ##
######################

/bin/
/doc/javadoc/
*.class
/*.jar
*.gz
*.info
*.pdf
*.ps
*.dvi
*.install


##  compiled auxiliary files  ##
################################

ponypipe.aux
ponypipe.cp
ponypipe.cps
ponypipe.fn
ponypipe.ky
ponypipe.log
ponypipe.pg
ponypipe.toc
ponypipe.tp
ponypipe.vr
ponypipe.op
ponypipe.ops
ponypipe.pgs
ponypipe.vrs


##  backup files  ##
####################

*~
\#*\#
.\#*
*.swp


##  distribution files  ##
##########################

/dist/*/*/*
!/dist/archlinux/*/PKGBUILD


##  non-included files  ##
##########################

/test

