# Asterisks may only be used att the end of a string, and allows to word to continue.
# :: with surrounding spaces seperates human language (left) from pony language (right).
# A line may start with hash to make the line a comment
# Lower case allows any case, the last characters case select the case on any character afterward
# Spaces (exclusing no breaking spaces) is wildcard for any non-alphanumberical character.

america*  ::  amareica*
anybody*  ::  anypony*
anyone*   ::  anypony*

boyfriend   ::  boyfriend
boy*        ::  colt*
bro fist    ::  bro hoof
bro-fist    ::  bro-hoof
brofist     ::  brohoof
butthurt    ::  flankhurt
butthurt    ::  saddle-sore

chickenpox  ::  ponypox
child       ::  foal
children    ::  foals
cowboy*     ::  cowpony*
cowgirl*    ::  cowpony*

doctor who  ::  doctor whooves
dr who      ::  dr whooves
dubstep     ::  dubtrot

everybody*  ::  everypony*
everyone*   ::  everypony*

facepalm           ::  facehoof
feet               ::  hooves
folks              ::  foalks
fool*              ::  foal*
foot*              ::  hoof*
for heaven's sake  ::  for pony's sake

gentlemen    ::  gentlecolts
gentleman    ::  gentlecolt
girls        ::  fillies
girlfriend   ::  girlfriend
girl*        ::  filly*
god          ::  celestia
guy*         ::  stallion*

halloween              ::  nightmare night
hands                  ::  hooves
hand*                  ::  hoof*
valentine's day        ::  hearts and hooves day
hey                    ::  hay 
high-five              ::  hoof-five
human                  ::  pony
humans                 ::  ponies

ladies  ::  fillies

main       ::  mane
man        ::  stallion
manhattan  ::  manehattan
marathon   ::  mareathon
men        ::  stallions
miracle    ::  mareacle
miracles   ::  mareacles
money      ::  bits

nay*        ::  neigh*
nobody*     ::  nopony*
no one*     ::  nopony*
no-one*     ::  nopony*
noone*      ::  nopony*
nottingham  ::  trottingham

old-timer  ::  old-trotter

people        ::  ponies
person        ::  pony
persons       ::  ponies
philadelphia  ::  fillydelphia

somebody*     ::  somepony*
someone*      ::  somepony*
stalingrad    ::  stalliongrad
step          ::  trot
sure as hell  ::  sure as hay

tattoo     ::  cutie mark
the heck   ::  the hay
the hell   ::  the hoof
the world  ::  equestria
troll*     ::  parasprite*

victoria's secret  ::  rarity's secret

woman  ::  mare
women  ::  mares
walk   ::  saunter
